<template>
  <footer class="st-content-footer">
    <p class="st-footer">
      SPH Digital News / Copyright © 2017 Singapore Press Holdings Ltd. Co. Regn No. 198402868E. All rights reserved.
    </p>
  </footer>
</template>
