<template>
  <ul :style="{listStyleType:attributes.type}" >
    <li v-for="item in attributes.list" v-html="item"></li>
  </ul>
</template>

<script>
export default {
  props:['attributes','division'],
}
</script>
<style lang="scss" scoped>
  ul{
    list-style-type: disc;
    margin: 0;
    padding: 0 20px;
    li{
      padding: 0;
      margin: 10px 0;
    }
  }
</style>
