<template lang="html">
  <div class="content-subtitle">
    <div class="">
      CHAPTER {{division+1}}
    </div>
    <h2 v-html="attributes"></h2>
  </div>
</template>

<script>
export default {
  props:['attributes','division'],
}
</script>
<style lang="scss" scoped>
h2 {
    padding: 3px 0;
    font-family: $font-SelaneMinTen;
    font-size: 2.3em;
    color: #333;
    line-height: 1;
    @include breakpoint($d_medium) {
        font-size: 3em;
    }
}
</style>
