<template lang="html">
<div class="content-intro">
  <div class="image-intro">
    <img v-if="textIntro.image" :src="'images_doc/'+textIntro.image" alt="intro" class="st-image-responsive" />
  </div>
  <div class="description-intro">
    <p v-for="item in textIntro.paragraph" v-html="item">
    </p>
  </div>
</div>
</template>

<script>
import {
  mapState
} from 'vuex';

export default {
  computed: mapState(['textIntro']),
}
</script>
