<template>
  <div class="column-paragraph-right">
    <component v-for="(item, key, index) in attributes" v-bind:is="item.type" :key="item.type+index" :attributes="item.value" :division="division" v-if="existComponent(item.type)"></component>
  </div>
</template>
<script>
import modules from "modulesProject";

var components={};

for (var stmodule in modules.artefacs){
  components[stmodule]=modules.artefacs[stmodule].default;
}

export default {
  props:['attributes','division'],
  components: components,
  methods: {
    existComponent: function(component) {
      var show = false;
      Object.keys(components).forEach(function(module) {
        if (module === component) {
          show = true;
        }
      });
      return show;
    }
  }
}
</script>
