<template>
  <main :class=identifier>
    <st-header></st-header>
    <st-article></st-article>
  </main>
</template>

<script>
import { mapState } from 'vuex';
import stHeader from "./header/st-header-custom.vue";
import stArticle from "./article/st-article.vue";

export default {
  components: {
    "st-header":stHeader,
    "st-article":stArticle
  },
  computed:mapState(['identifier'])
}
</script>
