.chinaparty {
  .st-header-page {
    background-image: url("/images_doc/china-party-congress-2017/cover-hero-mobile-old.jpg");
    @include breakpoint($d_medium) {
      background-image: url("/images_doc/china-party-congress-2017/cover-hero-desktop-old.jpg");
    }

    .st-header-container {
      bottom: 50px;
    }
  }
}

.newLeadership {
  .st-header-page {
    background-image: url("/images_doc/china-party-congress-2017/new-leadership/china-congress-newleadership-cover-new-mobile.jpg");
    @include breakpoint($d_medium) {
      background-image: url("/images_doc/china-party-congress-2017/new-leadership/china-congress-newleadership-cover-new.jpg");
    };
  }
}

.st-header-page {
  position           : relative;
  // background-image   : url("/images_doc/china-party-congress-2017/cover-hero-mobile-old.jpg");
  // @include breakpoint($d_medium) {
  //   background-image: url("/images_doc/china-party-congress-2017/cover-hero-desktop-old.jpg");
  // };
  background-size    : cover;
  background-position: right top;

  .st-header-container {
    @include container;
    position: absolute;
    @include breakpoint($d_medium) {
      position: initial;
    };
  }
}
// .video-js.vjs-default-skin {
//   @include breakpoint($d_medium) {
//     height   : 360px !important;
//     max-width: 460px;
//   }
// }
// .content-arrow-down {
//   position: absolute;
//   bottom  : 15px;
//   left    : 0;
//   right   : 0;
//   width   : 137px;
//   height  : 60px;
//   margin  : 0 auto;
// }

.content-arrow-down {
  z-index       : 999;
  position      : absolute;
  bottom        : 15px;
  left          : 0;
  right         : 0;
  text-align    : center;
  font-family   : "Curator Regular",sans-serif;
  font-weight   : normal;
  color         : #fff;
  cursor        : pointer;
  pointer-events: none;
  line-height   : 1;
  display       : block;
  width         : 137px;
  height        : 60px;
  margin        : 0 auto;

  svg {
    pointer-events           : all;
    max-width                : 137px;
    max-height               : 60px;
    animation                : hideshow;
    animation-iteration-count: infinite;
    animation-duration       : 1.2s;
    animation-direction      : alternate;
  }
}
@include keyframes(hideshow) {
  from {
    @include transform(translateY(-10px));
  }

  to {
    @include transform(translateY(10px));
  }
}

.content-columns {
  // .text-paragraph:nth-child(1)::first-letter{
  //   color: #333;
  //     display: block;
  //     float: left;
  //     font-size: 3.5em;
  //     margin-right: 15px;
  //     font-family:$font-SelaneTen;
  //     line-height: 0.9;
  // }
  .st-desktop-svg,
  figure {
    // padding: 30px 0 0;
    float: none;
    width: 100%;
    @include breakpoint($d_medium) {
      // float: left;
      width: 70%;
    };
  }
}

.content-columns-fullwidth {
  position           : relative;
  min-height         : 160px;
  background-color   : #EF4123;
  background-size    : cover;
  background-position: center;
  padding-left       : 15px;

  .text-paragraph {
    padding-top : 70px;
    padding-left: 0;
    @include breakpoint($d_medium) {
      padding-left: 52px;
    };
  }

  &.row-1-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-1/banner-chapter-1.jpg");

    .content-subtitle {
      &::before {
        content: "1";
      }
    }
  }

  &.row-2-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-2/banner-chapter-2.jpg");

    .content-subtitle {
      &::before {
        content: "2";
      }
    }
  }

  &.row-3-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-3/banner-chapter-3.jpg");

    .content-subtitle {
      &::before {
        content: "3";
      }
    }
  }

  &.row-4-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-4/banner-chapter-4.jpg");

    .content-subtitle {
      &::before {
        content: "4";
      }
    }
  }

  &.row-5-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-5/banner-chapter-5.jpg");

    .content-subtitle {
      &::before {
        content: "5";
      }
    }
  }

  &.row-6-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-6/banner-chapter-6.jpg");

    .content-subtitle {
      &::before {
        content: "6";
      }
    }
  }

  &.row-7-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-7/banner-chapter-7.jpg");

    .content-subtitle {
      &::before {
        content: "7";
      }
    }
  }

  &.row-8-1 {
    background-image: url("/images_doc/china-party-congress-2017/chapter-8/banner-chapter-8.jpg");

    .content-subtitle {
      &::before {
        content: "8";
      }
    }
  }

  .column-paragraph-left {
    @include container;
    vertical-align: bottom;

    .content-subtitle {
      &::before {
        float      : left;
        font-family: $font-Thirty;
        color      : #FFD400;
        font-size  : 130px;
        margin-top : 25px;
        @include breakpoint($d_medium) {
          margin-top: auto;
        }
      }

      div {
        display: none;
        color  : #FFD400;
      }

      h2 {
        color       : #fff;
        font-size   : 1.75em;
        padding-left: 80px;
        position    : absolute;
        top         : 60px;
        // margin-bottom: 5px;
        @include breakpoint($d_medium) {
          font-size  : 2.3em;
          padding-top: 20px;
          position   : static;
        }
      }
    }
  }
}

.newLeadership {
  .content-columns-fullwidth {
    &.row-1-1 {
      background-image: url("/images_doc/china-party-congress-2017/new-leadership/banner-charpter-1.jpg");
    }

    &.row-2-1 {
      background-image: url("/images_doc/china-party-congress-2017/new-leadership/banner-charpter-2.jpg");
    }

    &.row-3-1 {
      background-image: url("/images_doc/china-party-congress-2017/new-leadership/banner-charpter-3.jpg");
    }

    &.row-4-1 {
      background-image: url("/images_doc/china-party-congress-2017/new-leadership/banner-charpter-4.jpg");
    }
  }
}

.column-paragraph-right {
  @include breakpoint($d_medium) {
    margin-top: 1.125em;
  }
}

.text-unique-paragraph {
  .content-cards {
    .headline-cards {
      box-sizing   : border-box;
      font-family  : $font-Thirty;
      color        : #333;
      font-size    : 23px;
      line-height  : 1.3;
      padding-top  : 100px;
      margin-bottom: 60px;
    }

    #small_headline {
      font-family: $font-Curator-Regular;
      font-size  : 16px;
    }

    .content-card {
      .card {
        margin-bottom: 60px;

        .photo {
          @include breakpoint($d_medium) {
            float: left;
          }

          img {
            width: 140px;
          }
        }

        .content-description {
          h4 {
            font-family  : $font-Thirty;
            font-size    : 1.2em;
            line-height  : 1.2em;
            margin-bottom: 10px;
          }

          p {
            font-size  : 20px;
            line-height: 27px;
            @include breakpoint($d_medium) {
              font-size  : 1.2em;
              line-height: 1.6em;
            };
          }
          @include breakpoint($d_medium) {
            padding-left: 200px;
          }
        }
      }
    }
  }
}

.chinaparty {
  .st-title {
    position: relative;

    &::before {
      content    : "7";
      position   : absolute;
      font-family: $font-SelaneMinTen;
      color      : #FFD400;
      font-size  : 100px;
      top        : 53px;
      left       : -40px;
      @include breakpoint($d_medium) {
        font-size: 200px;
        top      : 95px;
        left     : -90px;
      };
    }

    h1 {
      &::first-line {
        color: #FFD400;
      }
    }
  }
}

.newLeadership {
  .st-header-page {
    .main-headline {
      margin-left: 0;
      @include breakpoint(780px) {
        padding  : 50px 0 30px;
        max-width: 500px;
      }

      .st-title {
        position: relative;

        h1 {
          text-align: center;
          @include breakpoint(780px) {
            text-align: left;
          }

          &::first-line {
            font-size: 36px;
            color    : #FFD400;
            @include breakpoint(780px) {
              font-size: 56px;
            }
          }
        }
      }

      .st-byline {
        text-align: center;
        @include breakpoint(780px) {
          text-align: left;
        }
      }
    }
  }
}

.content-intro {
  padding   : 40px 0;
  text-align: center;

  .description-intro {
    font-size  : 15px;
    line-height: 21px;
    color      : #666;
    max-width  : 500px;
    margin     : 0 auto;
    padding    : 20px;

    p {
      font-size: 16px;
      // &:not(:first-of-type) {
      //   text-transform: lowercase;
      //
      //   &:first-letter {
      //     text-transform: uppercase;
      //   }
      // }
    }
  }
}

.text-paragraph {
  padding-top: 40px;

  p {
    font-size  : 20px;
    line-height: 27px;
    @include breakpoint($d_medium) {
      font-size  : 1.2em;
      line-height: 1.6em;
    };
  }

  .svg-headline {
    display       : block;
    font-family   : $font-Curator-Bold;
    line-height   : 23px;
    font-size     : 17px;
    text-transform: none !important;
  }

  .svg-desc {
    display       : block;
    font-family   : $font-Curator-Regular;
    font-size     : 16px;
    line-height   : 21px;
    text-transform: none !important;
  }
}

.capitalLetter {
  color       : #333;
  display     : block;
  float       : left;
  font-size   : 3.5em;
  margin-right: 15px;
  font-family : $font-SelaneTen;
  line-height : 0.9;
}

.boxs-text {
  a {
    display: none;
  }

  p {
    display            : inline;
    padding            : 3px 0 !important;
    font-family        : $font-SelaneTen;
    font-size          : 19px;
    line-height        : 27px;
    background         : rgba(0,0,0,0.9) !important; // padding: 3px 0;
    box-shadow         : 10px 0 0 rgba(0,0,0,0.9), -10px 0 0 rgba(0,0,0,0.9);
    background-position: 100% 100%;
    background-size    : 200% 200%;
  }

  .pycolour {
    font-family: $font-Thirty;
  }

  #pytext1 {
    @extend .pycolour;
    color: #852c4e;
  }

  #pytext2 {
    @extend .pycolour;
    color: #b83c6d;
  }

  #pytext3 {
    @extend .pycolour;
    color: #fe8a67;
  }

  #pytext4 {
    @extend .pycolour;
    color: #ffaf79;
  }

  #pytext5 {
    @extend .pycolour;
    color: #fcd7bb;
  }
}

.content-columns {
  &.row-1-3,
  &.row-2-4 {
    .text-paragraph {
      padding-top: 0;
      @include breakpoint($d_medium) {
        margin-top: 1.125em;
      }
    }
  }
}

.chinaparty {
  .chapter-3 .content-columns {
    figure {
      padding-left: 0;
      max-width   : 600px;

      img {
        float         : none;
        width         : 100%;
        padding-bottom: 0;
      }
      @include breakpoint($d_medium) {
        padding-left: 252px;

        img {
          float         : left;
          width         : 100%;
          padding-bottom: 5px;
        }
      };
    }
  }

  .chapter-3 {
    .row-3-10,
    .row-3-11,
    .row-3-12,
    .row-3-13,
    .row-3-14,
    .row-3-15,
    .row-3-16,
    .row-3-4,
    .row-3-5,
    .row-3-6,
    .row-3-7,
    .row-3-8,
    .row-3-9 {
      h3 {
        padding-top: 0 !important;
      }
    }

    .text-unique-paragraph .content-cards .card {
      margin-bottom: 0;
    }
  }
}

.newLeadership {
  .chapter-1 .content-columns {
    figure {
      padding-left: 0;
      max-width   : 600px;

      img {
        float         : none;
        width         : 100%;
        padding-bottom: 0;
      }
      @include breakpoint($d_medium) {
        padding-left: 252px;

        img {
          float         : left;
          width         : 100%;
          padding-bottom: 5px;
        }
      };
    }

    h3 {
      padding-top: 0 !important;
    }
  }

  .chapter-1 .text-unique-paragraph .content-cards .card {
    margin-bottom: 0;
  }

  figcaption {
    @include container(600px);
  }
}

.st-content-video-caption {
  p {
    color      : #666;
    padding    : 10px 0;
    font-family: CuratorRegular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size  : 15px;
    line-height: 1.4;
  }
}
